<p>Temperatura: {{ weather_data.temperature }} °C <img src="{{ url_for('static', filename='temperature_icon.png') }}" alt="Temperature Icon"></p>
<p>Wilgotnosc: {{ weather_data.humidity }}% <img src="{{ url_for('static', filename='humidity_icon.png') }}" alt="Humidity Icon"></p>
<p>Predkosc wiatru: {{ weather_data.wind_speed }} m/s <img src="{{ url_for('static', filename='wind_icon.png') }}" alt="Wind Icon"></p>
<p>Opis: {{ weather_data.description }}</p>
<p>Wschod slonca: {{ weather_data.sunrise }}</p>
<p>Zachod slonca: {{ weather_data.sunset }}</p>